@model ProjectAthena.Models.ReportViewModels.CampaignReportData

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<div class="border container" style="padding:30px;">
    <form asp-controller="Reports" asp-action="Upsert" method="post">
        <input type="hidden" asp-for="@Model.Reports.CampaignId" value="@Model.Campaigns.Id" />
        @if (Model.Campaigns.DataColumnNumber1Title != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnNumber1Title</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnNumber1" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnNumber1" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnNumber2Title != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnNumber2Title</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnNumber2" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnNumber2" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnNumber3Title != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnNumber3Title</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnNumber3" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnNumber3" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnNumber4Title != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnNumber4Title</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnNumber4" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnNumber4" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnNumber5Title != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnNumber5Title</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnNumber5" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnNumber5" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnNumber6Title != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnNumber6Title</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnNumber6" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnNumber6" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnNumber7Title != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnNumber7Title</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnNumber7" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnNumber7" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnNumber8Title != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnNumber8Title</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnNumber8" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnNumber8" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnNumber9Title != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnNumber9Title</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnNumber9" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnNumber9" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnNumber10Title != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnNumber10Title</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnNumber10" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnNumber10" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnTextATitle != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnTextATitle</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnTextA" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnTextA" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnTextBTitle != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnTextBTitle</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnTextB" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnTextB" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnTextCTitle != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnTextCTitle</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnTextC" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnTextC" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnTextDTitle != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnTextDTitle</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnTextD" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnTextD" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnTextETitle != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnTextETitle</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnTextE" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnTextE" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnTextFTitle != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnTextFTitle</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnTextF" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnTextF" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnTextGTitle != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnTextGTitle</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnTextG" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnTextG" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnTextHTitle != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnTextHTitle</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnTextH" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnTextH" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnTextITitle != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnTextITitle</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnTextI" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnTextI" class="text-danger"></span>
                </div>
            </div>
        }
        @if (Model.Campaigns.DataColumnTextJTitle != null)
        {
            <div class="form-group row">
                <div class="col-3">
                    <label>@Model.Campaigns.DataColumnTextJTitle</label>
                </div>
                <div class="col-6">
                    <input asp-for="@Model.Reports.DataColumnTextJ" class="form-control" />
                    <span asp-validation-for="@Model.Reports.DataColumnTextJ" class="text-danger"></span>
                </div>
            </div>
        }

    </form>
</div>